<!DOCTYPE html>
<html lang=zh-TW>

<head>
  <meta http-equiv='Content-Type' content='text/html'; charset='UTF-8' />
  <meta name='author' content='Scott Yuan'>
  <meta property='og:image' content='' />
  <meta property='og:locale' content='zh_TW' />
  <meta property='og:site_name' content='台東民宿 - 老舍･軌 Railway House' />
  <meta property='og:description' content='老房子，鐵道邊，就稱之為老舍･軌，建於 1966 年的鐵路局宿舍。' />
  <title>台東民宿 - 老舍·軌 Railway House</title>
  <%-scripts%>
  <%-stylesheets%>
  <link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css' />
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
  <link href='/stylesheets/font-awesome/css/font-awesome.min.css' rel='stylesheet' />
  <script type='text/javascript' src='/javascripts/jquery-2.0.3.min.js'></script>
  <script src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>


  <script>
    $(document).ready(function() {
      $('.nav a[href=\'' + window.location.pathname.match(/^\/[\w-]*/)  + '\']').parent().addClass('active');
    });
  </script>

</head>
<body>
  <a href='/'><img class='site-flag' src='/images/texture/flag.png' /></a>
  <div class='container'>
    <header class='container'>
      <nav class='navbar pull-right'>
        <div class='collapse navbar-collapse navbar-ex1-collapse'>
          <ul class='nav navbar-nav'>
            <li><a href='/'>首頁</a></li>
            <li><a href='/about'>關於</a></li>
            <li class='dropdown'>
              <a href='/rooms' class='dropdown-toggle' data-toggle='dropdown'>客房介紹</b></a>
              <ul class='dropdown-menu'>
                <li><a href='/rooms/railway-house'>老舍軌 - Railway House</a></li>
                <li><a href='/rooms/fifty-blue'>五十藍 - Fifty Blue</a></li>
                <li class='divider'></li>
                <li><a href='/rooms/cautions'>住房須知</a></li>
              </ul>
            </li>
            <li><a href='/locations'>所在位置</a></li>
            <li><a href='/scenes'>鄰近景點</a></li>
            <li><a href='/booking'>線上訂房</a></li>
            <!-- <li><a href='/feedback'>意見回饋</a></li> -->
          </ul>
        </div>
      </nav>
    </header>

    <div id='content' class='container'>
<%- body -%>
    </div>

    <hr class='soften'>

    <footer class='text-center'>
      <i class='icon-user'></i> 柚子 (Jennifer) · <i class='icon-phone'></i> 0922-337519
      <div class='pull-right'>Copyright © 2013 Railway House, All Rights Reserved.</div>
    </footer>
  </div>
</body>

<!-- 
  <script type='text/javascript'>
    if (navigator.appName == 'Microsoft Internet Explorer') {
      window.alert('由於作者太遜，本網頁不支援 IE 瀏覽，請使用 Chrome 或 Firefox 取得最佳瀏覽效果，非常抱歉> <');
    }

    var menu = document.getElementsByClassName('menu')[0].getElementsByTagName('a');
    for (var i = 0; i < menu.length; i++) {
      if (/\/\w*$/.exec(menu[i].href) == window.location.pathname) {
        menu[i].className = 'active';
      }
    }

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-42748827-1', 'twbbs.org');
    ga('send', 'pageview');
  </script>
 -->

</html>