<% layout('boilerplate') -%>
<% stylesheet('/stylesheets/rooms.css') -%>

<section class='row'>
  <section class='col-md-6 col-sm-6'>
    <h4><i class='icon-flag'></i> 風格</h4>
  </section>

  <section class='col-md-6 col-sm-6'>
    <h4><i class='icon-info-sign'></i> 細節</h4>

    <table class='table table-condensed table-hover'>
      <tbody>
        <tr class='success'>
          <td id='text-right'><i class='icon-leaf'></i> 床型</td>
          <td><strong>通舖</strong></td>
        </tr>
        <tr class='warning'>
          <td id='text-right'><i class='icon-group'></i> 人數</td>
          <td>僅接受 2 至 8 人的一組客人預約</td>
        </tr>
        <tr class='active'>
          <td id='text-right'><i class='icon-dollar'></i> 價格</td>
          <td>每人每晚 NT$ 700</td>
        </tr>
        <tr class='success'>
          <td id='text-right'><i class='icon-tag'></i> 備註</td>
          <td>一次只接受一組客人，意即包棟</td>
        </tr>
        <tr class='danger'>
          <td id='text-right'><i class='icon-map-marker'></i> 地址</td>
          <td><a href='/locations'>台東市中華路一段 586 巷 72 號 <i class='icon-share'></i></a></td>
      </tbody>
    </table>
  </section>

</section>

<section>
  <h4><i class='icon-camera'></i> 圖片介紹</h4>

  <div class='row'>
    <div class='col-md-12 col-sm-12'>
      <div id='myCarousel' class='carousel slide'>
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>
        <!-- Carousel items -->
        <div class='carousel-inner'>
          <div class='item active' data-slide-number='0'>
            <div id='inner-item'>
              <img src='/images/railway-house/intro-1.jpg' />
            </div>
          </div>
          <div class='item' data-slide-number='1'>
            <div id='inner-item'>
              <img src='/images/railway-house/intro-2.jpg' />

              <div class='carousel-caption'>
                <h4>一樓客廳</h4>
              </div>
            </div>
          </div>
          <div class='item' data-slide-number='2'>
            <div id='inner-item'>
              <img src='/images/railway-house/intro-3.jpg' />

              <div class='carousel-caption'>
                <h4>通舖</h4>

                <p>外面是觀景陽台</p>
              </div>
            </div>
          </div>
          <div class='item' data-slide-number='3'>
            <div id='inner-item'>
              <img src='/images/railway-house/intro-4.jpg' />
            </div>
          </div>
          <div class='item' data-slide-number='4'>
            <div id='inner-item'>
              <img src='/images/railway-house/intro-5.jpg' />
            </div>
          </div>
          <div class='item' data-slide-number='5'>
            <div id='inner-item'>
              <img src='/images/railway-house/intro-6.jpg' />
            </div>
          </div>
          <div class='item' data-slide-number='6'>
            <div id='inner-item'>
              <img src='/images/railway-house/intro-7.jpg' />

              <div class='carousel-caption'>
                <h4>陽台望出去的風景</h4>

                <p>晚上別有一番滋味</p>
              </div>
            </div>
          </div>
          
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <i class="icon-prev"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <i class="icon-next"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<hr class='soften'>

<section class='row'>
  <div class='col-md-3 col-sm-3'></div>

  <div class='col-md-3 col-sm-3'>
    <a href='/rooms/cautions'><button type='button' class='form-control btn btn-primary'><i class='icon-zoom-in'></i> 詳閱住房須知</button></a>
  </div>

  <div class='col-md-3 col-sm-3'>
    <a href='/booking'><button type='button' class='form-control btn btn-success'><i class='icon-shopping-cart'></i> 立即線上訂房</button></a>
  </div>
</section>