#announce {
  color: blue;
  font-size: 1.3em;
}

#announce i {
  color: black;
}

.intro-img {
  opacity: .7;
  /*-webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;*/
}

.intro-img:hover {
  opacity: 1;
  /*-webkit-transition: all 0 ease-in;
  -moz-transition: all 0 ease-in;
  -o-transition: all 0 ease-in;*/
}
