body {
  height: 100%;
  padding: 50px;
  font-family: 'Roboto', 'ariel' !important;
  font-weight: 300;
  text-shadow: 0em 0em 0.11em #969696;
  background-image: url('/images/texture/purty-wood.png');
  background-repeat: repeat;
}

header {
  margin-top: -3%;
}

header > h1 {
  margin-left: 10px;
  margin-bottom: 2%;
}

footer {
  width: 98%;
}

a {
  color: #00B7FF;
  text-decoration: none !important;
}

section > h4 {
  margin-bottom: 20px;
}

#content {
  width: 98%;
  margin-top: 115px;
}

.site-flag {
  position: absolute;
  margin-top: -145px;
  margin-left: 10%;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.site-flag:hover {
  margin-top: -80px;
  -webkit-transition: all 0 ease-in;
  -moz-transition: all 0 ease-in;
  -o-transition: all 0 ease-in;
}

.navbar-header > a:hover,
.navbar-header > a:visited {
  color: black;
}

.navbar {
  background-image: url('/images/texture/pool-table.png');
  border-color: transparent !important;
  margin-top: 1%;
}

.navbar .nav > li > a {
  color: white;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.navbar .nav > .active > a,
.navbar .nav > .open > a,
.navbar .nav > li > a:hover {
  color: black !important;
}

.navbar .nav > .active,
.navbar .nav > .open > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > .dropdown-menu {
  background-image: url('/images/texture/groovepaper.png');
}

.navbar .nav > li > a:hover {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin-bottom: 10px;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav > li {
  width: auto;
  text-align: center;
}

.navbar-nav > li > ul > li {
  text-align: left;
}

.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.text-em {
  color: blue;
}
